@require '../lib/vars.styl'

global-reset()
typographic()

// Tags {{{
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

*
  box-sizing border-box

body
  background off-white
  color text-black

li
  list-style disc

pre
  font-family mono
  line-height 1.5
  border-radius 3px
  border 1px solid border-gray

a
  color blue
  text-decoration none
  &:hover
    text-decoration underline

strong
  font-weight bold


// }}} END Tags

input
  outline none
  border 1px solid #ddd
  width 100%
  &:focus
    border-color blue

li
  margin-bottom (bs / 4)
  vertical-align auto

disabled()
  background #ddd
  border 1px solid darken(#ddd, 20%)
  user-select none
  pointer-events none

.App
  composes container from '../lib/common.styl'
  background off-white

  h1
    margin-bottom bs

  input
    margin-bottom bs

.loading
  input
    disabled()
